@using DMS.Web.Components.Pages
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData"
                            DefaultLayout="@typeof(Layout.MainLayout)">
                       
            <NotAuthorized>
             <Home/>
            </NotAuthorized>
            <Authorizing>
                <p>Authorizing...</p>
            </Authorizing>

        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
           <Error/>
        </LayoutView>
    </NotFound>
</Router>
